{{> html_header}}

<div class="layout_3col_vertNav fullHeight leftLine">

  {{> comp_huc_aside_nav}}

  <div id="colContentWide" class="colContentWide {{#if hero1}}bgDIBrand01Gradient hasHero{{/if}}"  {{#if hero1}}{{else}} style="background-color:{{markup.color_content_background}}"{{/if}}>


    {{#if hero1}}
      {{> comp_hero}}
      <main id="main-content centerContent" class="read in_padding--basic maxWidth">


    {{else}}

      <nav id="breadCrumb" class="breadCrumb topSpace in_padding--basic maxWidth"  aria-label="Breadcrumb">
        {{{breadcrumb}}}
      </nav>



      <main id="main-content" class="read in_padding--basic maxWidth">
        <h1>{{title}}</h1>
    {{/if}}

      {{{ htmlContent }}}

      {{> twitter_feed}}



  </main>
  {{#if homeLists}}
    {{> comp_homeLists}}
  {{/if}}

  {{> comp_footer}}


  <section class="huclogo" aria-label="Digital Infrastructure is part of the KNAW humanities cluster"><img src="images/logo-knaw-humanities-cluster.png" alt=""></section
  </div>
</div>





<button type="button" name="button" class="hamburgerButton" id="hamburger" onclick="hamburger()" title="click to open the menu">
  <img src="images/icons/icon-hamburger.svg" alt="" class="hamburgerIcon" id="hamburgerImg" />
</button>




<script src="js/hamburger-menu.js" charset="utf-8"></script>
{{> html_footer}}
