@use '../abstracts' as *;


.borderTop {
  border-top: $bordeLine
}

.borderBot {
  border-bottom: $bordeLine
}

.borderLeft {
  border-left: $bordeLine
}

.borderRight {
  border-right: $bordeLine
}
