@use '../abstracts' as *;

.bgDIBrand01 {
  background-color: $colorBrandDiGreenGrey;
}

.bgDIBrand01Gradient {
  background-color: $colorBrandDiGreen;
  // background: linear-gradient(220.24deg, #EDF0B6  0%, hsla(63, 65%, 82%, 0) 25vw), linear-gradient(180deg, #B5EAC7 0, rgba(181,234,229,1) 20vh, rgba(181,234,229,1) 65vh, rgba(227,242,242,1) 85vh);
}



// background colors
.in_colorBG--ineo-blue-dark {
  background-color: $colorBrandClariahBlueDark;
  color: #fff;
  a {
    color: #fff;
  }
}

.in_colorBG--ineo-grey-light {
  background-color: $colorBrandIneoGreyLight;
}


.in_color--black{
	color: #000;
}

.in_color--grey{
	color: hsl(0, 0%, 30%);
}

.in_color--white{
	color: #fff;
}

.in_color--signal-green{
	color: $color-signal-green;
}

.in_color--signal-orange{
	color: $color-signal-orange;
}

.in_color--signal-red{
	color: $color-signal-red;
}
