@use 'components/hero';
@use 'components/huc-founders';
@use 'components/homelist';




@media (min-width: 1000px) {
  .colNav {
    border-bottom: 0;
    //padding: 6rem 2rem;
    margin: 0px;
  }
}

.colAside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}






.colContentWide {
  position: relative;
}

.huclogo {
  display: none;
}

@media (min-width: 600px) {
  .huclogo {
    display: block;
    position: absolute;
    top:40px;
    right: 40px;
    width: 80px;

    img {
      width: 80px;
      height: auto;

    }
  }
}

.leftLine {
  border-left: 1px solid hsl(0, 0%, 90%);
}
