<section class=" maxWidth in_padding--basic" aria-label="Team members">
<h2>Team</h2>
<p>Hier vind je een selctie van ons team</p>
  <div class="">
    <ul class="profile_cards list2cards ">
      {{#each team }}
      

      <li class="incCard profCard">
        <div class="profCard_img"><img src="images/_menno_rasch.png" alt="Photo of {{title}}">

        </div>
        <div class="profCard_txt">
          <h3><a href="{{file_name}}">{{title}}</a></h3>
          <div class="profCard_txt-sm">{{function_short}} </div>
        </div>
      </li>


      
      {{/each}}
    </ul>
  </div>
</section>
