<div class="founders">
  <div class="founders__hi"><a href="https://www.huygens.knaw.nl" target="_blank">
    <img src="images/logo_huygens.png" alt="Huygens Institute"></a>
  </div>

  <div class="founders__ii"><a href="https://iisg.amsterdam" target="_blank">
    <img src="images/logo-iisg.png" alt="IISG"></a>
  </div>

  <div class="founders__me"><a href="https://meertens.knaw.nl" target="_blank">
    <img src="images/logo-meertens-instituut.png" alt="Meertens Instituut"></a>
  </div>

</div>
