<header id="colNav" class="colNav in_padding--basic" aria-label="Main navigation">
  <div class="colNavInner">
    <div class="topSpace">
      <div><a href="index.html"><img id="logo" src="images/logo-knaw-digital-infrastructure.png" alt="Welcome to the KNAW Humanties Cluster" class="logo" /></a></div>

    </div>

    <div class="hideOnSmall">
      <nav id="mainNav" class="mainNav navNoList" >{{{navigation_list}}}</nav>
      <div>{{> comp_language-switch}}</div>
    </div>

    <div class="hideOnSmall ">
      {{> comp_huc-founders}}
    </div>
  </div>
</header>
