@use '../abstracts' as *;

.hero {
  width: 100%;
  height: 50vh;
  max-height: 800px;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  flex-direction: column;
  align-items: stretch;

  >* {
    //flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //width: 100%;
  }

  h1 {
    font-size: 1.2rem;
  }
}

.hero__text {}



.hero__image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 700px) {
  .hero {
    height: 75vh;
    grid-template-columns: repeat(2, 1fr);
    >* {
      //width: 50%;
    }

    h1 {
      font-size: 1.6rem;
    }

  }

}

@media (min-width: 1500px) {
  .hero {

    h1 {
      font-size: 3rem;
    }
  }

}
