@use '../abstracts' as *;

.hero {
  width: 100%;
  height: 50vh;
  max-height: 800px;
  max-width: 1000px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;



  >* {
    //flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //width: 100%;
  }

  h1 {
    font-size: 1.2rem;
  }
}

.hero__text {
  position: relative;
}



.hero__image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 700px) {
  .hero {
    height: 75vh;


    h1 {
      font-size: 1.6rem;
    }

  }

}

@media (min-width: 1500px) {
  .hero {

    h1 {
      font-size: 3rem;
    }
  }

}

#di_canals {
  stroke: hsl(173, 64%, 89%);
  stroke-width: 3px;
  stroke-dasharray: 1,8;
  stroke-linecap: round;
  fill: none;
  position: absolute;
  top: -25%;
  width: 70vw;
  max-width: 100%;
  height: auto;
}
