@use '../abstracts' as *;

.founders {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-height: 100vh;
  padding-bottom: 30px;
  margin-top: 2rem;

  img {
    width: auto;
    height: 50px;
  }

  >* {
    margin-bottom: 10px;
    margin-left: 10px;

  }

}






@media (min-width: 1300px) {
  .founders {
    flex-direction: column;
  }
  .founders__ii, .founders__hi {
    margin-left: -7px;
  }
  .founders__me{
    margin-left: 0px;
  }
}
