@use '../abstracts' as *;

.founders {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex: none;



  img {
    width: auto;
    height: 50px;
  }

  >* {
    margin-bottom: 10px;
    margin-right: 10px;

  }

}






@media (min-width: 1000px) {
  .founders {
    position: fixed;
    bottom: 0;
  }
}
