@use '../abstracts' as *;

.languageToggle {
  margin-top: 20px;
  font-size: $fontSizeSmall;

  a {
    text-decoration: none;
    color: $colorText;
    text-transform: uppercase;
    margin-right: 10px;
  }
}
