{{> html/html-head}}

<a href="#main-content" class="fixed top-2 left-2 z-[9999] -translate-y-[200%] bg-white px-4 py-2 text-[#1a1a1a] underline shadow-[0_0_0_2px_#173630] focus:translate-y-0">Skip to content</a>

<div class="grid w-full mx-auto max-w-[1800px] xl:h-full xl:min-h-screen border-l border-gray-200 lg:grid-cols-[300px_auto] xl:grid-cols-[300px_auto_300px]">

  {{> page-segments/aside}}

  <main id="main-content" tabindex="-1" class="flex flex-col items-center justify-between relative {{#unless backgroundColor}}bg-[#eaf6f5]{{/unless}} lg:col-[2/-1] lg:row-[1/-1] xl:col-[2/-1] xl:row-[1/-1]"{{#if backgroundColor}} style="background-color: {{backgroundColor}};"{{/if}}>
  

        {{> @partial-block }}

    
    {{> page-segments/footer}}

    <section class="hidden md:block absolute top-12 right-12 w-24" aria-label="Digital Infrastructure is part of the KNAW humanities cluster">
      <img src="images/logo-knaw-humanities-cluster.png" alt="Logo KNAW Humanities Cluster" class="w-24 h-auto">
    </section>
  </main>
</div>


{{> html/html-footer}}


