<footer class="mt-24 py-10 w-full flex justify-center bg-[hsl(174,66%,57%)]">
  <div class="flex flex-col w-full max-w-4xl lg:flex-row [&>*]:w-full [&>*]:mb-8 lg:[&>*]:mb-0">

    <div class="px-7">
      <h2 class="font-semibold">Powered by</h2>
      <p class="mt-0">
      <a href="https://huc.knaw.nl" target="_blank" class="text-[#1a1a1a]">KNAW Humanities Cluster</a> </p>
      <ul class="list-disc pl-4 m-0 [&_li]:m-0">
        <li><a href="https://www.huygens.knaw.nl" target="_blank" class="text-[#1a1a1a]">Huygens Instituut</a></li>
        <li><a href="https://iisg.amsterdam" target="_blank" class="text-[#1a1a1a]">IISG</a></li>
        <li><a href="https://meertens.knaw.nl" target="_blank" class="text-[#1a1a1a]">Meertens Instituut</a></li>
      </ul>
      <p></p>
    </div>

    <div class="px-7">
      <h2 class="font-semibold">Contact</h2>
      <p class="mt-0">
      <a href="mailto:staf@di.huc.knaw.nl"
        class="text-[#1a1a1a]">staf@di.huc.knaw.nl</a><br><a href="contact-en.html" class="text-[#1a1a1a]">Contact
        page</a><br><a href="https://www.knaw.nl/privacy" target="_blank" class="text-[#1a1a1a]">Privacy</a><br><a
        href="toegankelijkheidsverklaring-KNAW-Humanities-Cluster Digital-Infrastructure-20260219.html"
        class="text-[#1a1a1a]">{{#if (eq language 'nl')}}Toegankelijkheidsverklaring{{else}}Accessibility
        statement{{/if}}</a></p>
    </div>

    <div class="px-7">
      <h2 class="font-semibold">Address</h2>
      <p class="mt-0">
      Oudezijds Achterburgwal 185<br>1012 DK Amsterdam</p>
    </div>

  </div>
</footer>