{{#if list_feature}}
<section class="list_blocks" aria-label="Featured articles about Digital Infrastructure">
  <header class="in_padding--basic in_marginTop3">
    <h2>Featured articles</h2>
  </header>

  <ul class="borderTop ">
    {{#each feature }}
    <li class=" incCard">
      <div class="list_blocks__thumbnail"><img src="images/{{featured_image}}" alt=""></div>
      <div class="list_blocks__text">
        <h3><a href="{{file_name}}">{{title}}</a></h3>
        <div>{{summary}} </div>
      </div>

    </li>
    {{/each}}

  </ul>
</section>
{{/if}}
