<header id="colNav" class="colNav in_padding--basic" aria-label="Main navigation">
  <div class="topSpace">
    <div><a href="index.html"><img id="logo" src="images/logo-knaw-humanities-cluster.png" alt="Welcome to the KNAW Humanties Cluster" class="logo" /></a></div>

  </div>

  <div class="hideOnSmall stickyTop">
    <nav id="mainNav" class="navNoList" >{{{navigation_list}}}</nav>
    <div>{{> comp_language-switch}}</div>
  </div>

  <div class="">
    {{> comp_huc-founders}}
  </div>
</header>
