<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}} | Digital Infrastructure</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/v1/style.css" />
    <link rel="shortcut icon" href="images/favicon/favicon.jpg" />
    <script type="text/javascript">
      function subNav(id) {
        document.getElementById(id).style.display = "flex";
      }
    </script>
  </head>
  <body>
    <!-- <a href="#main-content" class="skipToContent">Skip to content</a> -->
  </body>
</html>
