<footer class="huc_footer borderTop">
  <div class="huc_footer__cols">
    <div class="in_padding--basic">
      <div><strong>Powered by</strong></div>
      <div><a href="">Huygens ING</a></div>
      <div><a href="">IISG</a></div>
      <div><a href="">Meertens Instituut</a></div>

    </div>
    <div class="in_padding--basic">
      <div><strong>Contact</strong></div>
      <div>+31 20 224 68 00</div>
      <div>+31 20 224 68 00</div>

    </div>
    <div class="in_padding--basic">
      <div><strong>Adress</strong></div>
      <div>Oudezijds Achterburgwal 185</div>
      <div>1012 DK Amsterdam</div>

    </div>

  </div>


</footer>
