@use 'abstracts' as *;



body {
  background-color:  #fff;
  font-family: $fontFamilyDefault;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 0;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

h4 {
  font-size: 1rem;
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

@media (max-width: 1300px) {
  .colAside.borderLeft {
    border-left: 0;
    border-top: $bordeLine;
  }
}

.topSpace {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (min-width: 1000px) {
  .topSpace {
    min-height: 170px;
  }
}

@media (min-width: 1500px) {
  .topSpace {
    min-height: 220px;
  }
}

.colNav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;

  *> {
    width: 100%;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;



  }

  nav {
    padding-top: 30px;
    a {
      text-decoration: none;
      color: $colorText;
    }
  }
}

@media (min-width: 1000px) {
  .colNav {
    border-bottom: 0;
    //padding: 6rem 2rem;
    margin: 0px;
  }
}

.colAside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}



.stickyTop{
  position: sticky;
  top: 0;
}


.logo {
}

.mainNav {
  a {
    color: $colorText;
    text-decoration: none;
    margin-bottom: 1rem;
  }

}

.colContent, .colContentWide  {
  display: flex;
  flex-direction: column;
  align-items: center;
  //padding: 6rem 0rem;
}

.centerContent {
}

.breadCrumb {
  font-size: $fontSizeS;

  .breadCrumb__seperator {
    margin-left: 10px;
    margin-right: 10px;
  }
}


.read {
}




$hamSpace: 15px;
.hamburgerButton {
  display: none;
  position: fixed;
  right: 0;
  top: 0;

  background: none;
  border: 0px;
  cursor: pointer;
  padding: $hamSpace;
}

.hamburgerIcon {

  width: 30px;
  height: auto;
}


.logo  {
  width: 100px;
  height: auto;
}


.huc_footer {
  margin-top: 100px;
  padding: 150px 0;
  background-color: hsl(0, 0%, 94%);
  width: 100%;
  display: flex;

  justify-content: center;

  .huc_footer__cols {
    display: flex;
    flex-direction: column;
    width: 100%;

    >* {
      width: 100%;
      margin-bottom: 2rem;
    }

  }
}

@media (min-width: 1000px) {
  .huc_footer {
    .huc_footer__cols {
      flex-direction: row;
    }
  }

}



.homeLists {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 1300px;

  h2 {
    margin-bottom: .5rem;
  }

  ul {
    margin: 0;
    padding: 0;
    li{
      margin: 0 0 3rem 0;
      padding: 0;
      list-style: none;

    }
  }

}



.homeListsRow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;

}

@media (min-width: 1200px) {
  .homeLists {
    flex-direction: row;
    gap: 4rem
  }

  .homeListsRow {

    width: 50%;


  }
}


.homeItem {
  background-color: #fff;
  margin-bottom: 16rem;

  .homeItem__thumbnail {
    img {
      width: 100%;
      height: auto;
    }


  }
  .homeItem__text {
    position: relative;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
    margin-top: -100px;
    background: linear-gradient(180deg, rgba(#ffffff, 0) 0,    rgba(#ffffff, 1) 50px);

    h3 {
      a {
        color: $colorText;
      }
    }
  }

}
