@use 'abstracts' as *;

body {
  background-color:  #fff;
  font-family: $fontFamilyDefault;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 0;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

h4 {
  font-size: 1rem;
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

button {
  cursor: pointer;
}




.colNav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;

  *> {
    width: 100%;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;



  }

  nav {
    padding-top: 30px;
    a {
      text-decoration: none;
      color: $colorText;
    }
  }
}


@media (min-width: 1000px) {
  .colNav {
    border-bottom: 0;
    margin: 0px;
  }
}

.mainNav {
  a {
    color: $colorText;
    text-decoration: none;
    margin-bottom: 1rem;
  }

}



.colContent, .colContentWide  {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.breadCrumb {
  font-size: $fontSizeS;

  .breadCrumb__seperator {
    margin-left: 10px;
    margin-right: 10px;
  }
}






.read {
  ul {
    list-style-image: url('../../images/listicon.svg');
  }
}


.read figure {
  margin-left: 0;
  margin-right: 0;

  img {
    width: 100%;
    height: auto;
  }

  figcaption {
    font-size: .85rem;
    font-style: italic;
  }
}

@media (min-width: 1200px) {
  .read figure {
    width: calc(100% + 4rem);
    height: auto;
    margin-left: -2rem;
    margin-right: -2rem;

    figcaption {
      margin-left: 2rem;
    }
  }
}




$hamSpace: 15px;
.hamburgerButton {
  display: none;
  position: absolute;
  right: 0;
  top: 35px;
  z-index: 500;

  background: none;
  border: 0px;
  cursor: pointer;
  padding: $hamSpace;
}

.hamburgerIcon {
  width: 25px;
  height: auto;
}



.logo  {
  width: 230px;
  height: auto;
}



.footer {
  margin-top: 100px;
  padding: 100px 0;
  //background-color: $colorBrandDiGreenAccent;
  width: 100%;
  display: flex;

  justify-content: center;

  .footer__cols {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;

    >* {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}

@media (min-width: 1000px) {
  .footer {
    .footer__cols {
      flex-direction: row;
    }
  }
}



.logos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  a {
    margin-left: 0;
    margin-right: 2rem;
    margin-bottom: 0rem;
    display: inline-flex;
  }

  figure {
    margin-left: 0;
    margin-right: 0;

    img{
      height: auto;
      width: 150px;
    }
  }
}
