
html {
    font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
}

p {
    // margin: 1.5rem 0;
    // font-size: 1rem;
    // line-height: 1.5;

		// contrast
		//background: #eee;
		// color: #222;
}



@media print {
    body > *:not(main) {
        display: none;
    }
}


[href="#main-content"] {
    position: absolute;
    top: 0;
    right: 100%; /* moves off screen */
}

[href="#main-content"]:focus {
    right: auto;
}




// cards

.incCard {
  position: relative;
}

.incCard a {
    text-decoration: none;
}

.incCard a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.incCard a:focus {
    text-decoration: underline;
}
