{{> html_header}}

<div class="layout_3col_vertNav">


  <div id="colNav" class="colNav borderRight in_padding--basic ">
    <div class="topSpace">
      <img id="logo" src="images/logo-knaw-humanities-cluster.png" alt="" class="tempLogo01" />
    </div>

    <div class="hideOnSmall stickyTop">
      <nav id="mainNav" class="navNoList">{{{navigation_list}}}</nav>
      <div>{{> comp_language-switch}}</div>
    </div>
  </div>




  <div id="colContent" class="colContent centerContent">

    {{#if hero1}}
      {{> comp_hero}}
      <main id="main-content" class="read in_padding--basic ">

      {{else}}
      <div id="breadCrumb" class="tempBreadcrumb topSpace">
        <a href="index.html">Home</a> {{{breadcrumb}}}
      </div>
      <main id="main-content" class="read in_padding--basic ">
        <h1>{{title}}</h1>

    {{/if}}

      {{{ htmlContent }}}



    </main>
    {{> comp_feature_list}}
  </div>



  <aside id="colAside" class="colAside borderLeft"><div> {{> comp_huc-founders}}</div></aside>
</div>











<button type="button" name="button" class="hamburgerButton" id="hamburger" onclick="hamburger()" >
  <img src="images/icons/icon-hamburger.svg" alt="" class="hamburgerIcon" id="hamburgerImg" />
</button>




<script src="js/hamburger-menu.js" charset="utf-8"></script>

{{> html_footer}}
