{{> html_header}}

<div class="layout_3col_vertNav">


  <header id="colNav" class="colNav borderRight  in_padding--basic " aria-label="Main navigation">
    <div class="topSpace">
      <div><a href="index.html"><img id="logo" src="images/logo-knaw-humanities-cluster.png" alt="Welcome to the KNAW Humanties Cluster" class="logo" /></a></div>

    </div>

    <div class="hideOnSmall stickyTop">
      <nav id="mainNav" class="navNoList" >{{{navigation_list}}}</nav>
      <div>{{> comp_language-switch}}</div>
    </div>
  </header>




  <div id="colContent" class="colContent">

    {{#if hero1}}
      {{> comp_hero}}
      <main id="main-content" class="read in_padding--basic maxWidth">

      {{else}}
      <nav id="breadCrumb" class="breadCrumb topSpace in_padding--basic maxWidth"  aria-label="Breadcrumb">
        {{{breadcrumb}}}
      </nav>
      <main id="main-content" class="read in_padding--basic maxWidth">
        <h1>{{title}}</h1>
    {{/if}}

      {{{ htmlContent }}}
    </main>


    {{> comp_feature_list}}
    {{> comp_news_list}}
    {{> comp_subpages_list}}

    {{> huc_footer}}
  </div>



  <aside id="colAside" class="colAside borderLeft"><div> {{> comp_huc-founders}}</div></aside>
</div>











<button type="button" name="button" class="hamburgerButton" id="hamburger" onclick="hamburger()" title="click to open the menu">
  <img src="images/icons/icon-hamburger.svg" alt="" class="hamburgerIcon" id="hamburgerImg" />
</button>




<script src="js/hamburger-menu.js" charset="utf-8"></script>

{{> html_footer}}
