<!DOCTYPE html><html lang="{{language}}"><head>
    <title>{{title}} | Digital Infrastructure | KNAW Humanities Cluster</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link href="css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&family=IBM+Plex+Sans:ital,wght@0,200;0,500;1,200&family=Crete+Round&display=swap" rel="stylesheet">

    <meta property="og:title" content="{{title}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://di.huc.knaw.nl/{{file_name}}">
    
    <link rel="shortcut icon" href="images/favicon/favicon_huc.png">
    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://knaw.matomo.cloud/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src='//cdn.matomo.cloud/knaw.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
  </head>
  
  <body class="m-0 p-0 bg-white font-normal text-lg leading-[1.5] text-[#1a1a1a] box-border">