@use 'vars' as *;

.hasHero {
  color: $color_huchomeText;
}

.bgDIBrand01Gradient {
  background-color: $color_hucBlueGreen;
  // background: linear-gradient(220.24deg, #EDF0B6  0%, hsla(63, 65%, 82%, 0) 25vw), linear-gradient(180deg, #B5EAC7 0, rgba(181,234,229,1) 20vh, rgba(181,234,229,1) 65vh, rgba(227,242,242,1) 85vh);
}


.hero {
  width: 100%;
  height: 50vh;
  max-height: 800px;
  max-width: 1200px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;



  >* {
    //flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //width: 100%;
  }

  h1 {
    font-size: 1.2rem;
  }
}

.hero__text {
  position: relative;
  z-index: 11;
}



.hero__image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 700px) {
  .hero {
    height: 75vh;

    h1 {
      font-size: calc(1rem + 1.6vw);
    }
  }
}



  #di_canals {
    display: block;
    position: absolute;
    top: -25vh;
    height: 90vh;
    max-width: 1400px;
    width: 100%;
    }

  .canalStr {
    stroke: $color_hucBlueGreenLight;
    stroke-width: 2px;
    stroke-dasharray: 1,8;
    stroke-linecap: round;
    fill: none;
  }
