$colorText: #2D2D2D;
$colorLink: hsl(226, 74%, 46%);

$brandingOjs: #F47F67;

$colorBrandClariahBlueMid: #2350FF;
$colorBrandClariahBlueDark: #000C48;


$colorBrandIneoGreen: #17CC98;
$colorBrandIneoBlue: #0092BC;
$colorBrandIneoGreyLight: #f2f2f6;
$colorBrandIneoGreyMid: #666d91;
$colorBrandIneoMagenat: #e1275e;
$colorBrandIneoGreyLightLine:#d9dbe4;


$colorTextGrey: $colorBrandIneoGreyMid;

$colorSignalGreen: #27ae60;
$colorSignalOrange: #ffb626;
$colorSignalRed: #e91d17;


$color-blue: #2350ff;
$color-blue-hover: #002ad9;
$color-red: #e1275e;
$color-red-hover: #bb0138;
$color-orange: #ff3f00;
$color-orange-hover: #d91900;
$color-green: #17cc98;
$color-white: #fff;
$color-grey1: #f2f2f6;
$color-grey2: #d9dbe4;
$color-grey3: #8e93ac;
$color-grey4: #666d91;
$color-grey5: #000c48;
$color-signal-green: #27ae60;
$color-signal-orange: #ffb626;
$color-signal-red: #e91d17;
