//@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,300&display=swap');
//@import url('http://fonts.cdnfonts.com/css/graphik?styles=44660,44652');
//@import url('http://fonts.cdnfonts.com/css/graphik?styles=44656,44657,44658'); //300, 300i 500

$fontSizeDefault: 18px;
$fontSizeSmall: 15px;

$lineHeightDefault: 150%;
$fontWeightDefault: 300;
$fontWeightBold: 500;

$fontFamilyDefault: 'Roboto', sans-serif;
//$fontFamilyMono: "Andale Mono", AndaleMono, monospace;
// $fontFamilyDefault: 'Graphik', sans-serif;
// $fontFamilyMono: "Andale Mono", AndaleMono, monospace;

$fontSizeL: 19px;
$fontSizeXL: 22px;
$fontSizeXXL: 25px;
$fontSizeXXXL: 30px;

$fontSizeS: 15px;
$fontSizeXS: 13px;
$fontSizeXXS: 11px;
$fontSizeXXXS: 9px;
